* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  padding-top: 20px;
  text-align: center;
}

#rewardChart {
  display: block;
  margin: auto;
}

.rewardChart {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.interaction {
  padding-left: 185px;
  padding-bottom: 30px;
}

#actionChart {
  display: block;
  margin: auto;
}

.actionChart {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
